In [4]:
import pandas as pd

In [7]:
datos = pd.read_csv('C:/Users/user/Documents/Python/loan_data_set.csv')
print(datos.head)

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

Valores nulos en los datos

In [8]:
datos.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

loc -> filtrar datos: variable = datos.loc[datos['columna'] == 'categoria']

In [23]:
Female = datos.loc[datos['Gender'] == 'Female']
TotalF = len(Female)
print(f'El total de mujeres es de:{TotalF}')

El total de mujeres es de:112

In [24]:
Male = datos.loc[datos['Gender'] == 'Male']
TotalM = len(Male)
print(f'El total de hombres es de:{TotalM}')

El total de hombres es de:489

Diferencia entre el promedio de hombres y mujeres

In [30]:
gen = datos.groupby('Gender')['LoanAmount'].describe()
print(gen)

        count        mean        std   min    25%    50%    75%    max
Gender
Female  109.0  126.697248  79.286460   9.0   88.0  113.0  138.0  600.0
Male    470.0  149.265957  82.810851  17.0  104.0  130.0  175.0  650.0

Id unico

In [31]:
son_unicos = datos['Loan_ID'].nunique() == len(datos)
print(son_unicos)

True